In [1]:
import pandas as pd
import numpy as np
from functools import partial, reduce

In [2]:
def date_manipulate(x):
    x = x.str.strip()
    x = x.str.replace(' ', '')
    x = x.str.replace('年', '-')
    x = x.str.replace('月', '-')
    x = x.str.replace('日', '')
    x = x.str.replace('号', '')
    x = x.str.replace('.', '-')
    x = x.str.replace('—', '-')
    x = pd.to_datetime(x, errors='coerce')
    return x

In [3]:
test = ['BTC','BTS','ADA']
data =['BTC','BTS','ADA']
for i in range(0,len(test)):
    data[i]= pd.read_csv(f'{test[i]}.csv',encoding="utf-8")
#     print(test[i])
    a = str(test[i])
#     print(a)
    data[i] = data[i].rename(columns={'收市': a,'日期':'Date'})
#     print("---------------------------------------------------------------")
#     print(test[i])
#     print(data[i].head(100))
    data[i] = data[i].drop(['開市', '高', '低', '成交量','更改%'], axis=1)
#     print("=====================================================================")
#     print(data[i])
   

df_final = data[0]
for i in range(1,len(data)):
#     df = str(df)
#     print(data[i])
    df_final = df_final.merge(data[i], on=['Date'], how='outer')
#     print(data[0])
df_final
# print(df_final)
df_final['Date'] = date_manipulate(df_final['Date'])
df_final = df_final.sort_values(by=['Date'])
df_final = df_final.dropna(axis=0,how='any')
df_final

<ipython-input-2-c0b11fb26a2c>:8: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  x = x.str.replace('.', '-')

           Date       BTC      BTS       ADA
1261 2018-01-16  11,362.0  0.33020  0.601240
1260 2018-01-17  11,192.3  0.35750  0.624200
1259 2018-01-18  11,245.4  0.35980  0.650000
1258 2018-01-19  11,580.2  0.41010  0.645800
1257 2018-01-20  12,858.9  0.46380  0.704857
...         ...       ...      ...       ...
4    2021-06-26  32,243.4  0.04137  1.251660
3    2021-06-27  34,678.5  0.04184  1.335523
2    2021-06-28  34,475.9  0.04314  1.324686
1    2021-06-29  35,834.7  0.04488  1.371166
0    2021-06-30  35,026.9  0.04477  1.383782

[1262 rows x 4 columns]